body {
    position: relative;
    background: #000;
}

main {
    width: 100%;
    height: 8000px;
}

div, section {
    transition: 2s;
}

#point1 {
    width: 100%;
    height: 1500px;
    z-index: 10;
    position: relative;

    background: rgba(0, 0, 0, 0.09);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.59) 32%, rgba(0, 0, 0, 0.68) 38%, rgba(0, 0, 0, 0.83) 50%, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.91) 67%, rgba(0, 0, 0, 0.51) 85%, rgba(0, 0, 0, 0.1) 99%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.09)), color-stop(32%, rgba(0, 0, 0, 0.59)), color-stop(38%, rgba(0, 0, 0, 0.68)), color-stop(50%, rgba(0, 0, 0, 0.83)), color-stop(65%, rgba(0, 0, 0, 0.9)), color-stop(67%, rgba(0, 0, 0, 0.91)), color-stop(85%, rgba(0, 0, 0, 0.51)), color-stop(99%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.59) 32%, rgba(0, 0, 0, 0.68) 38%, rgba(0, 0, 0, 0.83) 50%, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.91) 67%, rgba(0, 0, 0, 0.51) 85%, rgba(0, 0, 0, 0.1) 99%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.59) 32%, rgba(0, 0, 0, 0.68) 38%, rgba(0, 0, 0, 0.83) 50%, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.91) 67%, rgba(0, 0, 0, 0.51) 85%, rgba(0, 0, 0, 0.1) 99%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.59) 32%, rgba(0, 0, 0, 0.68) 38%, rgba(0, 0, 0, 0.83) 50%, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.91) 67%, rgba(0, 0, 0, 0.51) 85%, rgba(0, 0, 0, 0.1) 99%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.59) 32%, rgba(0, 0, 0, 0.68) 38%, rgba(0, 0, 0, 0.83) 50%, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.91) 67%, rgba(0, 0, 0, 0.51) 85%, rgba(0, 0, 0, 0.1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

#obj1 {
    background: azure;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: fixed;
    left: 10vw;
    top: 10vh;
    bottom: 0;
    margin: auto;
}

#obj2 {
    background: #c5c3bb;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    position: fixed;
    right: 50vw;
    top: 15vh;
    margin: auto;
}

#obj3 {
    background: #c5c3bb;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    position: absolute;
    position: fixed;
    left: 20vw;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#point2 {
    height: auto;
    width: 100%;
    position: fixed;
    border-radius: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#obj4 {
    background: url("imgs/img2.jpg");
    height: auto;
    width: 70%;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#obj5 {
    background: url("imgs/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#point3 {
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 400px;
    width: 50%;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

#star1 {
    background: #c0fcff;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: fixed;
    right: 25vw;
    top: 20vh;
    margin: auto;
}

#star2 {
    background: #ffe4e1;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: fixed;
    left: 15vw;
    bottom: 50vh;
    margin: auto;
}

.hide {
    width: 0px !important;
    height: 0px !important;
    color: transparent !important;
    opacity: 0 !important;
    transition: 2s;
}

#point4 {
    position: fixed;
    height: auto;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*#point5 {*/
    /*position: fixed;*/
    /*background: url("imgs/bg1.jpeg");*/
    /*height: auto;*/
    /*max-width: 800px;*/
    /*width: 100%;*/
    /*right: 0;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
/*}*/

#hz {
    background: url("imgs/hz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#spaceship {
    position: fixed;
    background: url("imgs/ss.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 150px;
    right: 30vw;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}

#point5 {
    position: fixed;
    background: url("imgs/bg1.jpeg");
    height: auto;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}